<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/Generico/plantilla}">
<head>
    <meta charset="UTF-8">
    <title>Listar Estudiantes</title>
</head>
<body>
<div layout:fragment="contenido">
    <h1>Lista de Estudiantes</h1>
    <a href="/estudianteNuevo" class="btn btn-primary">Agregar Nuevo Estudiante</a>
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="estudiante : ${estudiantes}">
            <td th:text="${estudiante.idEstudiante}"></td>
            <td th:text="${estudiante.nombreEstudiante}"></td>
            <td th:text="${estudiante.apellidoEstudiante}"></td>
            <td th:text="${estudiante.fechaNacimiento}"></td>
            <td th:text="${estudiante.correo}"></td>
            <td>
                <a th:href="@{/estudianteEditar/{id}(id=${estudiante.idEstudiante})}" class="btn btn-warning">Editar</a>
                <a th:href="@{/estudianteEliminar/{id}(id=${estudiante.idEstudiante})}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de eliminar este estudiante?');">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
